@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: darkolivegreen;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Slackey', cursive;
}


.home-box,
.intro-box,
.scavenger-box,
.dam-box,
.solve-box,
.end-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
}

.home-box,
.intro-box,
.scavenger-box,
.dam-box,
.solve-box,
.end-box {
    background: #F3F3F3;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
    0px 6px 20px 0 rgba(0,0,0,0.15);
    width: 900px;
    height: 600px;
}


.container {
    display: inline-block;
    align-items: center;
    margin: 10px;
}

.story-text {
    display: inline-block;
    left: 600px;
    align-items: left;
    margin: 10px;
}

.story-text {
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px 0px 0px;
    font-size: 18px;
    color: green;
    margin-left: 620px;
}

.button {
    transition-duration: 0.3s;
    padding: 10px 20px;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    text-align: right;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

/***********************/

/******************  HOME  ***********************/

.home-box {
    background-image: url('img/cover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 600px;
    background-color: black;
}

.home-box .story-text .story-header {
    align-items: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 56px;
    color: greenyellow;
    margin-top: 50%;
}

.home-box .story-text .story-header .story-byline {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px 0px 0px;
    font-size: 18px;
    color: greenyellow;
}


/******************  INTRO  ***********************/

.intro-box {
    background-image: url('img/intro.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 600px;
}

/******************  SCAVENGER  ***********************/

.scavenger-box {
    background-image: url('img/scavenger.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 600px;
}

.button_clear {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: absolute;
    background-color: red;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

#louse {
    top: 250px;
    left: 280px;
    width: 300px;
    height: 60px;
    transform: rotate(28deg);
}